@import "../../styles/vars";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
    z-index: 200;
}

.image {
    width: 115px;
    @media(max-width: $media_barrier) {
        width: 90px;
    }
}

.nav__link {
    cursor: pointer;
    font-size: 20px;
    font-family: $main_font;
    text-decoration: none;
    color: $main_font_color;
    &_active {
        color: #ed4653;
    }
    @media(max-width: $media_barrier) {
        font-size: 17px;
    }
}

.shedule {
    font-size: 16px;
    cursor:default;
}