.menu__nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav__link {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;
    &_active {
        color: #f3a33b;
    }
}