@import "../../styles/vars";

.content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: $media_barrier) {
        gap: 24px;
    }
}